services:
  downloadervr9pro:
    ports: []
    restart: unless-stopped
    environment:
      NODE_ENV: production
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        MODE: production
    command: bun server/index.mjs
    networks:
      - traefik

networks:
  traefik:
    external: true
