services:
  downloadervr9pro:
    networks:
      - traefik
    labels:
      - "traefik.enable=true"

      # HTTPS
      - "traefik.http.routers.downloadervr9pro.rule=Host(`${TRAEFIK_DOMAIN}`)"
      - "traefik.http.routers.downloadervr9pro.entrypoints=websecure"
      - "traefik.http.routers.downloadervr9pro.tls.certresolver=myresolver"
      - "traefik.http.services.downloadervr9pro.loadbalancer.server.port=${PORT}"

      # HTTP redirect
      - "traefik.http.routers.downloadervr9pro-http.rule=Host(`${TRAEFIK_DOMAIN}`)"
      - "traefik.http.routers.downloadervr9pro-http.entrypoints=web"
      - "traefik.http.routers.downloadervr9pro-http.middlewares=downloader-https-redirect"

      # Middleware definition
      - "traefik.http.middlewares.downloader-https-redirect.redirectscheme.scheme=https"

networks:
  traefik:
    external: true
